node_modules/
pnpm-lock.yaml
.turbo/
.tsdown/
dist/
dist-native/
dist-web/
build/
leather-styles/
package.json
CHANGELOG.md
**/locales/**/messages.ts
coverage/
apps/mobile/index.js
*.lottie.json
worker-configuration.d.ts
.expo/
expo-env.d.ts
ios/
android/
