WALLET_ENVIRONMENT=development
TEST_ACCOUNT_SECRET_KEY="mnemonic secret key here"

MIXPANEL_TOKEN=mixpaneltoken

SENTRY_DSN=sentrydsn

BESTINSLOT_API_KEY=bestinslotapikey
BITFLOW_API_HOST=bitflowapihost
BITFLOW_API_KEY=bitflowapikey
BITFLOW_READONLY_CALL_API_HOST=bitflowreadonlycallapihost
BITFLOW_READONLY_CALL_API_KEY=bitflowreadonlycallapikey
BITFLOW_KEEPER_API_KEY=bitflowkeeperapikey
BITFLOW_KEEPER_API_HOST=bitflowkeeperapihost
BITFLOW_PROVIDER_ADDRESS=bitflowprovideraddress
ONRAMPER_API_KEY=onramperapikey
ONRAMPER_WIDGET_HOST=onramperwidgethost
ONRAMPER_SIGNING_SECRET=onrampersigningkey
LAUNCH_DARKLY_KEY=ldkey
