!node_modules/@leather.io/ui/dist-native/src/assets-native/fonts/
node_modules
dist
tsconfig.tsbuildinfo
.turbo/
.tsup/
.idea
.eslintcache
# macOS
.DS_Store
leather-styles
**/.env
coverage
architecture/*.svg


!GoogleService-Info.plist
!google-services.json
!credentials.json
