# Required for local development
EXPO_PUBLIC_NODE_ENV="development"
EXPO_PUBLIC_LAUNCH_DARKLY=""
# Optional for local development
EXPO_PUBLIC_SENTRY_DSN=""
EXPO_PUBLIC_MIXPANEL_TOKEN=""

EXPO_PUBLIC_ONRAMPER_API_KEY=onramperapikey
EXPO_PUBLIC_ONRAMPER_WIDGET_HOST=onramperwidgethost
EXPO_PUBLIC_ONRAMPER_SIGNING_SECRET=onrampersigningkey

